@model IEnumerable<BanVotCauLong.Models.Entities.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameBrand)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameBrand)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdBrand }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdBrand }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdBrand })
        </td>
    </tr>
}

</table>

<br /><br />
<a href="/Admins/Show">Back to Menu</a>
